<% include partials/header %>

<div class="container">
  <div class="row">
    <h1>Add a new campground</h1>

    <form method="POST" action="/campgrounds">
      <div class="form-group">
        <input class="form-control" type="text" name="name" placeholder="campground name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="img" placeholder="image link">
      </div>
      <div class="form-group">
        <input class="btn btn-lg btn-primary btn-block" type="submit" name="submit">
      </div>
    </form>
    <a href="/campgrounds">Back</a>
  </div>
</div>

<% include partials/footer %>